package components 

templ headerComponent(title string) {
	<head>
		<script src="/htmx.min.js"></script>
		<script src="/class-tools.js"></script>
		<title>{ title }</title>
		@TodoFont()
		@TodoStyle()	
	</head>
}


templ ContentPage(title string, body templ.Component) {
	<html>
		@headerComponent(title)
		<body>
			@body
		</body>
	</html>
}

